
.contact {
    display: flex;
    height: 1100px;
    width: 100%;
    margin-top: 140px;
}

.contact h1{
    text-align: center;
    margin-top: 168px;
    position: absolute;
    
    left: 580px;

}


.left-cont{
    flex: 1 1;
    top: 55px;
    margin-top: 203px;
    margin-left: 7px;
    height: 700px;
}




.left-cont img{
    height: 500px;
    width: 671px;
    position: absolute;
    left: 72px;
    margin-top: 53px;
}

.right-cont{
   
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 410px;
    width: 464px;
    margin-top: 288px;
    margin-right: 95px;
    background: linear-gradient(166.67deg, #606FA2 12.06%, #DBD6FF 121.65%);
}




h2{
    font-size: 30px;
}

form{
    width: 70%;
    height: 70%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input{
    width: 300px;
    height: 30px;
    font-size: 14px;
}

textarea{
    width: 300px;
    height: 150px;
    font-size: 14px;
}

.right-cont span{
    color: rgb(0, 170, 0);
}

.right-cont button{
    width: 138px;
    height: 39px;
    color: white;
    background-color: #ff5823;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins SemiBold';
    
}

.right-cont button :focus{
    
    outline: none;
} 

input{
    border-radius: 8px;
    border: #b1a7ff;
    height: 37px;
    padding: 1rem;
}

textarea{
    border-radius: 8px;
    border: #b1a7ff;
    height: 175px;
    padding: 1rem;
    margin-bottom: 13px;
    margin-top: 6px
}
.Like{
    position: absolute;
    top: 3100px;
    
    right: 594px;
}
.Like img{
    height: 40px;
    position: absolute;
    right: 55px;
    top: -50px;
    
}

.Like button{
    background: #000000;
    border: 3px solid #D6D6D6;
    box-sizing: border-box;
    box-shadow: 0px 10px 28px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 140px;
    height: 44px;
    color: white;
    font-size: medium;
}




@media screen and (max-width: 1110px){

.contact h1 {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    left: 383px;
    font-size: 30px;
    font-weight: bold;
}

.left-cont {
    flex: 1 1;
    top: 55px;
    margin-top: 203px;
    margin-left: 7px;
    height: 700px;
}

.left-cont img {
    height: 500px;
    width: 671px;
    position: absolute;
    left: 72px;
    margin-top: 53px;
}

.left-cont img {
    height: 280px;
    width: 335px;
    position: absolute;
    left: 57px;
    margin-top: -91px;
}

.right-cont {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 254px;
    width: 312px;
    margin-top: 120px;
    margin-right: 55px;
    background: linear-gradient(166.67deg, #606FA2 12.06%, #DBD6FF 121.65%);

}


input {
    border-radius: 8px;
    border: #b1a7ff;
    height: 9px;
    padding: 1rem;
    width: 269px;
}

textarea {
    border-radius: 8px;
    border: #b1a7ff;
    height: 175px;
    padding: 1rem;
    margin-bottom: 13px;
    margin-top: 6px;
    width: 269px;
}


}

@media screen and (max-width: 426px){
    .left-cont img {
        height: 150px;
        width: 200px;
        position: absolute;
        left: 0px;
        margin-top: -91px;
    }

    .right-cont {
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 154px;
        width: 170px;
        margin-top: 120px;
        margin-right: 10px;
        background: linear-gradient(166.67deg, #606FA2 12.06%, #DBD6FF 121.65%);
    }
    
    input {
        border-radius: 6px;
        border: #b1a7ff;
        height: 3px;
        padding: 1rem;
        width: 159px;
        font-size: 8px;
    }

    textarea {
        border-radius: 8px;
        border: #b1a7ff;
        height: 6px;
        padding: 1rem;
        margin-bottom: 13px;
        margin-top: 6px;
        width: 159px;
        font-size: 8px;
    }

    .contact h1 {
        text-align: center;
        margin-top: 59px;
        position: absolute;
        left: 117px;
        font-size: 20px;
        font-weight: bold;
    }
    .contact {
        display: flex;
        height: 300px;
        width: 100%;
        margin-top: 65px;
    }
}